<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Search member</title>
    <style>
        body{
          background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80" );
        }
        h1{
          font-family: "Times New Roman", Times, serif;
          font-size: 60px;
          color:chocolate;
          background-color: rgb(3, 19, 16);
        }
        p{
          color: aliceblue;
        }
        .white{
          color:white;
          background-color: darkslategray;
        }
        .bolder{
          font-weight: bolder;
          color:rgb(0, 0, 255);
        }
        .bold{
          font-weight: bold;
        }
       
        .tablebody{
          color:rgb(218, 165, 32)
        }
        tr:hover{
          background-color: rgb(48, 22, 194);
        }
        </style> 
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Add Members</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="addBook.html">Add Book <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="librarian1.html">Search Book</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="issueBook.html">Issue Book</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="returnBook.html">Return Book</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
    
          
        </div>
      </nav>

    <nav class="navbar navbar-dark bg-dark">
            <form class="form-inline">
              <input class="form-control mr-sm-2 col-12" type="search" placeholder="Search by name" aria-label="Search" id="searchBook">
             
            </form>
            <form class="form-inline">
                    <input class="form-control mr-sm-2 col-12" type="search" placeholder="Search by email" aria-label="Search" id="searchStudent">
                   
                  </form>
          </nav>



          <div class="container">

          <table class="table">
            <thead class="thead-light">
              <tr>
               
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Add</th>
            
              </tr>
            </thead>
            <tbody id="tbody" class="white">

           <% for(i=persons.length-1;i>=0;i--){%>
               <tr>
                <th scope="row"><%= persons[i].name%></th>
                <td><%= persons[i].email%></td>
                <td> <a href="/addedMember/<%= pid%>/<%=tid%>/<%=persons[i]._id%>" type="button" class="btn btn-primary btn-lg btn-block">Add</a> </td>
                
              </tr> 
           <% }%>
            </tbody>
          </table>
        </div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>