<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Card Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
        <form action="/card" method="POST">
            <div class="form-group">
                <input style="display: none;" type="text" readonly name="id" id="id" value="<%=pid%>">
                <input style="display: none;" type="text" readonly name="bid" id="bid" value="<%=bid%>">
                <input style="display: none;" type="text" readonly name="lid" id="lid" value="<%=lid%>">
                <input style="display: none;" type="text" readonly name="cid" id="cid" value="<%=card._id%>">
              <label for="title">Card Title</label>
              <input type="text" name="title" class="form-control" id="title" value="<%=card.title%>">
             
            </div>
            <div class="form-group">
              <label for="Description">Description</label>
              <!-- <input type="password" class="form-control" id="Description"> -->
             <input type="text" name="description" id="description" class="form-control" value="<%=card.description%>">
            </div>
          
            <button type="submit" class="btn btn-primary">Save</button>
          </form>

          <a href="/b/<%=pid%>/<%=bid%>" type="button" class="btn btn-outline-secondary">Go Back</a>
         
         
          <form action="/deleteCard" method="POST">
            <input style="display: none;" type="text" readonly name="id" value="<%=pid%>">
            <input style="display: none;" type="text" readonly name="bid" value="<%=bid%>">
            <input style="display: none;" type="text" readonly name="lid" value="<%=lid%>">
            <input style="display: none;" type="text" readonly name="cid" value="<%=card._id%>">
            <input style="float: right;" class="btn btn-danger" type="submit" value="Delete this Card">
          </form>
          <h2>Comments</h2>
          <form action="/cardComment" method="POST" class="form-horizontal">
            <input style="display: none;" type="text" name="id"  value="<%=pid%>">
                <input style="display: none;" type="text" name="bid"  value="<%=bid%>">
                <input style="display: none;" type="text" name="lid"  value="<%=lid%>">
            <input style="display: none;" type="text" name="cid" value="<%=card._id%>">
            <div class="form-group">
                
                <label for="comment" class="control-label col-sm-2"><i class="fa fa-user" aria-hidden="true"></i></label>
                <input  class="form-control col-sm-10" type="text" name="comment" id="comment">
                <button type="submit" class="btn btn-primary mt-2">Save</button>
            </div>
          </form>
          

          <div id="comments">
              <%for(i=card.comments.length-1;i>=0;i--){%>
              <div class="row mt-4">
            <i class="fa fa-user col-1 mt-3" style="font-size: 65px;" aria-hidden="true"></i>
            <div class="card col-11">
                  <div class="card-body">
                  <h5 class="card-title"><%= card.comments[i].creator%></h5>
                  <p class="card-text"><%=card.comments[i].desc%></p>
                  <p class="card-text"><small class="text-muted"><%=card.comments[i].date%></small></p>
                </div>
              </div>
            </div>
        <%}%>
          </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>