<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" title="navbar">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" height="30px" width="25px" alt="">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
               
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary">Boards</button>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

               <% for(i=person.boards.length-1;i>=0;i--){%>
                <a class="dropdown-item" href="/b/<%=person._id%>/<%=person.boards[i]._id%>"><%=person.boards[i].name%></a>
               
                <div class="dropdown-divider"></div>
                <%}%>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

          <ul class="navbar-nav mr-auto">
            <li>
              <li class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://cdn4.iconfinder.com/data/icons/material-design-content-icons/512/add-circle-512.png" alt="" width="40px" height="40px">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <span class="dropdown-item" >Create</span>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/createBoard/<%=person._id%>">
                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Create Board
                      <p>A board is made up of cards ordered o lists. Use it to manage projects, track <br/>information, or organize anything.</p>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#"><i class="fa fa-users" aria-hidden="true"></i> Create Team
                        <p>A team is a group of boards and people. Use it to organize your company, <br/>side hustle, family, or friends.</p>
                      </a>
                    </div>
                  </li>
               
              </li>
              
            </li>
            <li>
              <img src="https://www.thesslstore.com/blog/wp-content/uploads/2017/05/circle-with-i-1.png" alt="" width="40px" height="40px">
            </li>
            <li>
              <img src="https://www.dlf.pt/png/big/29/298991_bell-icon-png.png" alt="" width="40px" height="40px">
            </li>
            <li>
              <img src="https://www.dlf.pt/png/big/29/298991_bell-icon-png.png" alt="" width="40px" height="40px">
            </li>
          </ul>
        </div>
      </nav>

<div class="container-fluid">
      <div class="jumbotron">

      <div class="row">
        
        <div class="col-1">
          <img src="https://www.myherodesign.com/wp-content/uploads/2016/06/Indian_Man_Suspicious.gif" height="200px" alt="">
        </div>
<div class="col-3"></div>
        <div class="col-8">
          <h1 class="display-4"><%= team.name%></h1>
       
          <hr class="my-4">
    
          <a class="btn btn-primary btn-lg" href="#" role="button">Edit Team Profile</a>
        </div>
      </div>
        

      </div>
    </div>


<div class="container">


      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Boards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/homeMember/<%=person._id%>/<%= team._id%>">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
       
      </ul>



      <div class="row">
    
        <div id="cards">
<% for(i=team.boards.length-1;i>=0;i--){%>
        <div class="card" style="width: 18rem;">
 <img src="https://hips.hearstapps.com/ghk.h-cdn.co/assets/15/33/2048x1024/landscape-1439490128-plants.jpg?resize=980:*" alt="" height="70px">
          <div class="card-img-overlay card-body">
            <h5 class="card-title"><%= team.boards[i].name%></h5>
           
          </div>
        </div>
      <% } %>
      </div>
<a href="/createBoard/<%=person._id%>">
        <div class="card" style="width: 18rem;">
          <img src="http://getwallpapers.com/wallpaper/full/b/d/d/571183.jpg" alt="" height="70px">
          <div class="card-img-overlay card-body">
            <h5 class="card-title">Create new board</h5>
          
          </div>
        </div>
      </a>
    </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>