<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= board.name%></title>
    <link rel="stylesheet" href="/stylesheets/board.css">
  </head>
  <body style="overflow: scroll; background-image: url(<%= board.background%>);">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" title="navbar">Hi! <%= person.name%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
              <a class="nav-link" href="/home/<%=person._id%>">Home <span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

               <% for(i=team.boards.length-1;i>=0;i--){%>
                <a class="dropdown-item" href="/tb/<%= person._id%>/<%=team._id%>/<%=team.boards[i]._id%>"><%=team.boards[i].name%></a>
               
                <div class="dropdown-divider"></div>
                <%}%>
              </div>
            </li>
          
          </ul>

         
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

          <ul class="navbar-nav mr-auto">
            <li>
              <li class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://cdn4.iconfinder.com/data/icons/material-design-content-icons/512/add-circle-512.png" alt="" width="40px" height="40px">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <span class="dropdown-item" >Create</span>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/createBoard/<%=team._id%>">
                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Create Board
                      <p>A board is made up of cards ordered o lists. Use it to manage projects, track <br/>information, or organize anything.</p>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/createTeam/<%=team._id%>"><i class="fa fa-users" aria-hidden="true"></i> Create Team
                        <p>A team is a group of boards and people. Use it to organize your company, <br/>side hustle, family, or friends.</p>
                      </a>
                    </div>
                  </li>
               
              </li>
              
            </li>
          
            <li>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i  class="fa fa-user fa-3x" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <div class="dropdown-divider"></div>
                

  <a class="dropdown-item" href="#">Help</a>
  <a class="dropdown-item" href="/logout/<%=person._id%>">Logout</a>
                </div>
              </div>
             
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <button type="button" class="btn btn-light"><%= board.name%></button>
        <i style="font-size: xx-large;" class="fa fa-star mybtn" aria-hidden="true"></i>


  <div style="display: inline;" class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personal</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>

  <div style="display: inline;" class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Private</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>

  <div style="display: inline;" class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>

  <div style="display: inline;" class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Invite</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <a href="/teamboardDetails/<%=person._id%>/<%=team._id%>/<%=board._id%>" style="color: rgb(185, 184, 184);" class="btn btn-outline-secondary"  title="<%=board.description%>">About this board</a>
  <div style="display: inline;" class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Background</button>
    <div class="dropdown-menu">

      <form action="/teamBackground" method="POST" class="form-group">
        <input type="text" name="id" readonly value="<%=person._id%>">
        <input type="text" readonly style="display: none;" name="bid" id="" value="<%=board._id%>">
        <input readonly style="display: none;" type="text" name="tid" value="<%=team._id%>">
      
      <input type="text" name="background" id="background" class="form-control" placeholder="Link of Image">
      <div role="separator" class="dropdown-divider"></div>
     <input type="submit" value="Save" class="btn btn-secondary">
    </form>

    </div>
  </div>
 
  <button type="button" class="btn btn-outline-secondary">View All Activities</button>
      </div>
    


<div style="overflow: visible; white-space: nowrap;" class="mt-5 mx-3 my-3 no-gutters  flex-nowrap" >

    <div id="lists" style="display: inline-block;">
        
        
      <% for(i=0;i<board.lists.length;i++){ %>

        <div class="card text-white bg-secondary mb-3" style="display: inline-block; max-width: 20rem;  white-space: normal;">
           
            <div class="card-body">
              <h5 class="card-title"><a style="color: white;" href="/teamList/<%=person._id%>/<%=team._id%>/<%= board._id%>/<%= board.lists[i]._id%>"><%= board.lists[i].title%></h5></a>

                <div class="cards">
                  <% for(j=0;j<board.lists[i].cards.length;j++){ %>

                    <a href="/teamCard/<%=  person._id%>/<%=team._id%>/<%=board._id%>/<%=board.lists[i]._id%>/<%=board.lists[i].cards[j]._id%>">
                    <div class="card mt-2" style="width: 17rem; color:black">
                        <div class="card-body">
                          <!-- <p class="card-text" ><%= board.lists[i].cards[j]._id %>.</p> -->
                          <p class="card-text" ><%= board.lists[i].cards[j].title %>.</p>
                         
                        </div>
        
                      </div>
                    </a>

                      <%}%>
                </div>



                <div class="card mt-2" style="width: 17rem; color:black">
                    <div class="card-body">
                      <form action="/teamCards" method="POST">
                        <input readonly style="display: none;" type="text" name="id" id="id" value="<%= person._id%>">
                        <input readonly style="display: none;"  type="text" name="tid" id="tid" value="<%= team._id %>">
                        <input readonly style="display: none;"  type="text" name="bid" id="bid" value="<%= board._id%>">
                        <input readonly style="display: none;"  type="text" name="lid" id="lid" value="<%= board.lists[i]._id%>">
                      <input required="required" class="form-control" type="text" name="cardTitle" id="cardTitle" placeholder="Enter a title for this card...">
                      <input type="submit"class="btn btn-primary mt-2" value="Add Card">
                    </form>
                    </div>
    
                  </div>
            </div>
          </div>
       
        <%}%>




    </div>


    <div class="card ml-3" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <form action="/teamLists" method="POST">
                <input readonly style="display: none;" type="text" name="id" value="<%=person._id%>">
              <input readonly style="display: none;"  type="text" name="tid" id="tid" value="<%= team._id %>">
              <input readonly style="display: none;"  type="text" name="bid" id="bid" value="<%= board._id%>">
           <input required="required" type="text" class="form-control" name="listTitle" id="listTitle" placeholder="Enter list title">
           <input type="submit" value="Add List" class="btn mt-2 btn-success">
          
        </form>
        </div>
      </div>






    <!-- <div class="card" style="width: 18rem;">
        <div class="card-body">
            <i class="fa fa-plus" aria-hidden="true"></i>
          <span class="card-text">Add a list</span>
         
        </div>
      </div> -->


</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>